@use "@/styles/style" as *;

.giftAvailablesList {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__titleText {
    @include setFont(clamp(16px, 3vw, 24px), 600);
  }
  &__main {
    width: 100%;
    overflow: hidden;
    border: 2px solid #52436c;
    border-radius: 35px;
    background: #241735;
    padding: 12px;
  }
  &__items {
    @include flexCol(flex-start);
    gap: 6px;
    overflow: auto;
    border-radius: 10px;
  }
  &__item {
    border-radius: 10px;
    background: linear-gradient(180deg, #322344 0%, #543e72 50%, #352748 100%);
    min-width: clamp(95px, 24vw, 130px);
    @include flexCol();
    flex-direction: column;
    gap: 14px;
    padding: 14px 8px;
  }
  &__itemChanceText {
    @include setFont(18px, 500);
    @include flexCol();
    gap: 6px;
    border-bottom: 1px solid $color-white;
    width: 100%;

    & img {
      width: 13px;
    }
  }
  &__itemImg {
    max-width: 63px;
    width: 100%;
  }
  &__starsText {
    border: 1px solid #edcb9b;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    @include flexCol();
    gap: 4px;
    @include setFont(clamp(13px, 3vw, 20px), 500);
    padding: 4px 8px;
    width: 100%;
    max-width: 100px;

    & img {
      width: 22px;
    }
  }

  &__myGiftsBtn {
    max-width: 100% !important;
  }
}
