@use "@/styles/style" as *;

.secondaryBtn {
  @include button($color-green-light);
  border: 1px solid transparent;
  border-radius: 15px;
  white-space: nowrap;
  text-align: center;
  padding: 4px 14px;
  min-height: 65px;
  @include setFont(24px, 500, $color-white);
  text-decoration: none;
  @include flexCol();
  gap: 8px;
  width: 100%;

  // Primary (default) hover effect
  &:not(&:disabled) {
    &:hover,
    &:active,
    &:focus-visible {
      box-shadow: 0 2px 12px 0 #6fb61c;
      outline: none;
    }
  }

  // Secondary hover effect
  &_secondary:not(&:disabled) {
    &:hover,
    &:active,
    &:focus-visible {
      box-shadow: 0 2px 12px 0 #eaa586;
      outline: none;
    }
  }

  &:disabled {
    border-color: transparent;
    background: #5f5f5f;
    cursor: default;
  }

  &_secondary {
    background: #573977;
    border-color: #eaa586;
  }

  &_md {
    min-height: 55px;
    font-size: 20px;
  }
  &_sm {
    min-height: 40px;
    font-size: 17px;
  }

  // Responsive: smalize everything on small screens
  @include smScreenMedia {
    border-radius: 10px;
    padding: 2px 8px;
    min-height: 40px;
    @include setFont(17px, 500, $color-white);
    gap: 4px;

    &_sm {
      font-size: 15px;
    }
  }
}
