// media

$sm-screen: 450px;

// fonts
$font-fam-primary: "Inter", sans-serif;

$transition: all 0.3s;

// colors
$color-primary-yellow: #ffd100;
$color-green-light: #6fb61c;
$color-white: #ffffff;
$color-purple-bg: #342448;
