.admin-settings-accelerators-sub {
    background-color: #c9c9c9;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border-radius: 10px;
    padding: 10px 15px;
    min-height: fit-content;
    margin-top: 5px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
}

.admin-settings-accelerator-input-header {
    color: #333;
    margin-top:20px;
    font-weight: 600;
}

.accelerator-edit-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accelerator-switch {
    position: relative;
    width: 40px;
    height: 22px;
    background-color: #AA2828;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.accelerator-switch-container {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.accelerator-switch-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.accelerator-switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.3);
    transition: transform 0.3s ease;
}

.accelerator-switch.active {
    background-color: #78AA28;
}

.accelerator-switch.active::before {
    transform: translateX(18px);
    background-color: #fff;
}