.cash-in-request-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cash-in-request-form-title {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: #F4F4F4;
    text-align: center;
}

.cash-in-request-form-description {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #F4F4F4;
    text-align: center;
    margin-top: 20px;
}

.cash-in-request-form-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C9C9C9;
    border-radius: 44px;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 10px;
    margin-top: 10px;
}

.cash-in-request-form-input {
    background-color: #343434;
    color: #C9C9C9;
    border-radius: 44px;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
    min-height: 60px;
    resize: none;
}


.cash-in-request-form-input::placeholder {
    color: #C9C9C9;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.cash-in-request-form-button {
    background-color: #78AA28;
    border-radius: 44px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 80px;
    font-family: 'Montserrat';
    font-weight: 800;
    transition: transform 0.1s ease, background-color 0.1s ease;
    margin-top: 20px;
    color: #F2F2F2;
}

.cash-in-request-form-button:active {
    transform: scale(0.95);
    background-color: #6a9624;
}
