.challenges-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.challenges-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    gap: 10px;
}

.client-switch-container {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.client-switch-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.client-switch {
    position: relative;
    width: 40px;
    height: 22px;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.client-switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.3);
    transition: transform 0.3s ease;
}

.client-switch.active {
    background-color: #78AA28;
}

.client-switch.active::before {
    transform: translateX(18px);
    background-color: #fff;
}

.balance-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 10px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: fit-content;
    background-color: #343434;
    border-left: none;
}


.balance-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}

.value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.balance-value {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: center;
}

.balance-icon {
    display: flex;
    align-items: center;
    transform: scale(0.9);
    margin-bottom: 2.5px;
}

.challenges-menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
}

.challenges-menu-button {
    background-color: #343434;
    border-radius: 44px;
    padding: 10px;
    color: #C9C9C9;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    width: 100%;
    transition: transform 0.1s ease;
}

.challenges-menu-button:active {
    transform: scale(0.95);
}

.challenges-menu-button.active {
    background-color: #78AA28;
    color: #000000;
}

.no-clients-challenges-title {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.add-challenges-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    flex-grow: 1;
    min-height: 70px;
}

.add-challenges-button {
    background-color: #78AA28;
    border-radius: 44px;
    padding: 10px 20px;
    color: #000000;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    transition: transform 0.1s ease;
}

.add-challenges-button:active {
    transform: scale(0.95);
}

.challenge-surf-container {
    background-color: #C9C9C9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-bottom: 10px;
}

.challenge-surf-container.deprecated {
    padding: 10px 0px;
}

.challenge-row {
    background-color: #C9C9C9;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    padding: 10px 0px;
    min-height: 60px;
}

.challenge-item-text {
    color: black;
    font-size: 12px;
    white-space: normal;
    text-align: left; 
}

.challenge-row-sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 10px;
    flex-grow: 1;
}

.challenge-row-sub.start {
    align-items: flex-start;
}

.challenge-row-sub.end {
    align-items: flex-end;
}

.challenge-surf-button {
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px 20px;
    flex-grow: 1;
    transition: transform 0.1s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78aa28;
}

.challenge-surf-button:active {
    transform: scale(0.95);
}

.challenge-name {
    white-space: normal;
    text-align: left;  
}

.challenge-description {
    color: #343434;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: left;
    max-width: 150px;  
}

.challenge-item-payment {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.challenge-time-of-execution {
    color: #78AA28;
}

.challenge-time-container {
    display: flex;
    gap: 5px;
}

.challenge-item-text.active {
    color: #78AA28;
}

.challenge-item-text.moderation {
    color: #d4a017;
}

.challenge-item-text.deprecated {
    color: #AA2828;
}

.challenge-item-text.deny {
    color: #AA2828;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.content-wrapper-miner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content-wrapper-miner.blurred,
.content-wrapper.blurred {
    filter: blur(3px);
    pointer-events: none;
}
