@keyframes slideUp {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.subscribe-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 60px;
    background-color: #343434;
    color: white;
    padding: 20px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1002;
    border-bottom: 2px #78AA28 solid;
    transform: translateY(100%);
    opacity: 0;
    animation: slideUp 0.4s ease forwards;
}

.subscribe-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.subscribe-sub-title {
    font-size: 0.83rem;
    margin-bottom: 15px;
    text-align: start;
    max-width: 400px;
    color: #b7b7b7;
    font-weight: 500;
}

.subscribe-button {
    background-color: #78AA28;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.subscribe-button:active {
    transform: scale(0.95);
}