@use "@/styles/style" as *;

.notification-wrapper {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  max-width: 95%;
  width: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Montserrat", sans-serif;
  pointer-events: none;
  padding: 0 10px;
  box-sizing: border-box;
}

.notification {
  background: #1c182d;
  color: #edcb9b;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 25px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  letter-spacing: 0.5px;

  border: 3px solid #7c7fb2;
  border-top-color: $color-green-light;

  box-shadow: 0 4px 32px 0 rgba(54, 30, 87, 0.26);
  text-align: center;
  pointer-events: auto;
  animation: fadeInOut ease forwards;
  user-select: none;
  width: 100%;
  max-width: 100%;
  white-space: normal;
  word-wrap: normal;
  box-sizing: border-box;
}

.notification-error {
  border-top-color: #aa2828;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  10% {
    opacity: 0.95;
    transform: translateY(0) scale(1);
  }
  90% {
    opacity: 0.95;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
}
