.roll-button-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.roller-buttons-container {
  display: flex;
}

.roll-button {
  background-color: #4D6B1E;
  border: none;
  padding: 15px 32px;
  text-align: center;
  width: 205px;
  height: 58px;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem auto;
  z-index: 1;
  grid-row: 4;
  transition: transform 0.1s ease;
  margin-top: 20px;
}

.roll-button.pushed {
  background-color: rgb(52, 52, 52);
}

.roll-button-skip {
  background-color: #78AA28;
  color: white;
  font-family: 'montserrat';
  font-weight: 800;
  font-size: 24px;
  border-radius: 44px;
  padding: 10px 10px;
  transition: transform 0.1s ease;
  box-shadow: 0px 7px 0px rgba(52, 52, 52, 1);
  height: fit-content;
  margin-top: 20px;
  position: absolute;
  right: 7%;
}

@media (max-width: 600px) {
  .roll-button-skip {
    right: 7%;
  }
}

@media (max-width: 400px) {
  .roll-button-skip {
    right: 1%;
  }
}


.roll-button-skip:active {
  transform: scale(0.95);
}

.roll-button-text {
  font-family: 'montserrat';
  font-weight: 800;
  font-size: 24px;
  color: white;
  padding-bottom: 14px;
}

.roll-button-shadow {
  background-color: #78AA28;
  width: 205px;
  height: 58px;
  border-radius: 44px;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  top: -7px;
}

.roll-button-shadow.pushed {
  background-color: #575757;
}

.roll-button:active {
  transform: scale(0.95);
}

.roll-button-shadow:active {
  transform: scale(0.95);
}

.rollskip-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rollskip-image {
  pointer-events: none;
}