@use "@/styles/style" as *;

.secureIframe {
  &__container {
    width: 100%;
    padding-block: 20px;
    @include flexCol();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include smScreenMedia {
      border-radius: 22px;
      padding: 14px;
      gap: 13px;
    }
  }

  &__loading {
    @include setFont(22px, 600, #e9c68a);
    text-align: center;

    @include smScreenMedia {
      @include setFont(16px, 600, #e9c68a);
    }
  }

  &__timerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  &__timerBlock {
    background: #251e39;
    border: 2px solid #7a649b;
    border-radius: 17px;
    padding: 12px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    @include smScreenMedia {
      border-radius: 10px;
      padding: 7px 13px;
      gap: 3px;
    }
  }

  &__timerLabel {
    @include setFont(16px, 500);
    color: #ffd100;
    margin-bottom: 4px;
    letter-spacing: 0.3px;

    @include smScreenMedia {
      @include setFont(11px, 500);
      margin-bottom: 2px;
    }
  }

  &__timerDigits {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
  }

  &__timerDigit {
    @include setFont(34px, 600, #fff);
    background: #433155;
    padding: 6px 14px;
    border-radius: 10px;
    min-width: 48px;
    text-align: center;

    @include smScreenMedia {
      @include setFont(23px, 600, #fff);
      border-radius: 7px;
      min-width: 33px;
      padding: 4px 8px;
    }
  }

  &__timerSeparator {
    margin-left: 12px;
    @include setFont(13px, 500, #d8c7d8);

    @include smScreenMedia {
      margin-left: 6px;
      @include setFont(10px, 500, #d8c7d8);
    }
  }

  &__iframe {
    width: 100%;
    min-height: 350px;
    border: 2px solid #7a649b;
    border-radius: 20px;
    background: #1f1a35;
    margin-top: 14px;
    transition: opacity 0.35s;
    opacity: 1;
    display: block;

    @include smScreenMedia {
      min-height: 210px;
      border-radius: 12px;
      margin-top: 9px;
    }
  }

  &__iframeHidden {
    opacity: 0;
    pointer-events: none;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
  }

  &__timeEnded {
    @include setFont(20px, 600, #edcb9b);
    text-align: center;
    padding: 18px 0;

    @include smScreenMedia {
      @include setFont(14px, 600, #edcb9b);
      padding: 10px 0;
    }
  }
}
