@use "@/styles/style" as *;

.switcherBtn {
  @include button();
  @include flexCol();
  gap: 20px;
  align-self: flex-end;
  text-decoration: none;

  @include smScreenMedia {
    gap: 16px;
  }

  &__nameText {
    @include setFont(22px, 500);

    @include smScreenMedia {
      @include setFont(18px, 500);
    }
  }

  &__main {
    background: #372646;
    border: 1px solid #716b79;
    border-radius: 25px;
    width: 80px;
    aspect-ratio: 80/44;
    padding: 4px;
    position: relative;

    @include smScreenMedia {
      width: 60px;
      padding: 2px;
    }
  }

  &__inner {
    display: block;
    height: calc(100% - 8px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: $transition;
    position: absolute;
    top: 4px;
    left: calc(100% - 4px);
    transform: translateX(-100%);
    background-color: #716b79;
    &_active {
      transform: translateX(0%);
      left: 4px;
      background: #454075;
    }
  }
}
